/* FONTS STYLE || */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


/* || RESET */ 

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* | GENERAL STYLES */

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --black: hsl(0, 0%, 0%);
}

body {
    font-family: 'Figtree', sans-serif;
    background-color: var(--yellow);
    min-height: 100%;
}

h1, h2 {
    font-weight: 800;
    line-height: 150%;
    color: var(--gray-950);
}

h1 {
    display: inline-block;
    background-color: var(--yellow);
    width: 85px;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    padding: 4px 12px;
}

h2 {
    font-size: 24px;
}

/* || UTILITIES */

a {
    text-decoration: none;
    color: var(--gray-950);
}

h2 a:hover,     
h2 a:focus {
    text-decoration: none;
    color: var(--yellow);
    cursor: pointer;
}   

/* || COMPONENT */


.p__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: var(--gray-500);
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 384px;
    height: 522px;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 20px;
    box-shadow: 8px 8px var(--black);
    padding: 24px; 
}  

.image {
    display: block;
    border-radius: 10px;
}

.p__date {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: var(--gray-950);
}

.article {
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
    padding: 24px 0px;
}

.profile img {
    width: 32px;
    height: 32px;
}

.profile {
    display: flex;
    flex-flow: row wrap;
    width: 129px;
    height: 32px;
    justify-content: space-between;
}

.name {
    font-size: 14px;
    font-weight: 800;
    color: var(--gray-950);
    align-content: center;
}

@media screen and (max-width: 450px) {
    .card {
        width: 327px;
        height: 501px;
    }  

    h1 {
        font-size: 12px;
        width: 73px;
        height: 26px;
        border-radius: 4px;
        text-align: center;
        padding: 4px 12px;
    }

    h2 {
        font-size: 20px;
    }

    .p__text {
        font-size: 14px;
    }
    
    .image {
        height: 200px;
        object-fit: cover;
        max-width: 100%;
    }
}

@media (min-width: 0px) and (max-width: 375px) {
    .card {
        width: 299px;
        height: 501px;
        padding: 20px;
    }  

    .image {
        height: 200px;
        object-fit: cover;
        max-width: 100%;
    }
}